fastapi
uvicorn
numpy
tensorflow==2.16.1
keras
python-multipart
pillow
opencv-python
mediapipe==0.8.9  # Downgraded version to avoid protobuf conflict
youtube-search
streamlit-webrtc
protobuf==3.20.3  # Compatible protobuf version for tensorflow 2.16.1
