fastapi
uvicorn
numpy
tensorflow==2.16.1
keras
python-multipart
pillow
opencv-python
mediapipe==0.10.21  # or the latest compatible version
youtube-search
streamlit-webrtc
protobuf==4.25.3
